<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime location tracker</title>

    <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
           
            height: 100vh
        }
        
        .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    </style>
</head>

<body style="background-color: black;">
    <div class="container">
    <div id="map" ></div>

    <div class="right-content helo">
        <div class="recommended-songs">
          <h1 style="color: white;">Available Helps</h1>
          <div class="song-container">
            <div class="song">
              <div class="song-img">
              
                <div class="overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
             <li>
              {%for help in li%}
              <div class="song-title">
               <ul><span style="font-weight: bold; color: rgb(16, 228, 228);">Title: </span> <span style="color: white;">{{help[0]}}</span></ul>
               <ul><span style="font-weight: bold; color: rgb(16, 228, 228);">Username : </span><span style="color: white;">{{help[4]}}</span></ul>
               <button style="background-color:rgb(16, 228, 228) ;"><a href="/view_help">view</a></button>
              </div>
              {% endfor %}
            </li>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>

<!-- leaflet js  -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // Map initialization 
    var map = L.map('map').setView([14.0860746, 100.608406], 6);

    //osm layer
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    osm.addTo(map);

    if(!navigator.geolocation) {
        console.log("Your browser doesn't support geolocation feature!")
    } else {
        setInterval(() => {
            navigator.geolocation.getCurrentPosition(getPosition)
        }, 500);
    }

    var marker, circle;

    function getPosition(position){
        // console.log(position)
        var lat = position.coords.latitude
        var long = position.coords.longitude
        var accuracy = position.coords.accuracy

        if(marker) {
            map.removeLayer(marker)
        }

        if(circle) {
            map.removeLayer(circle)
        }

        marker = L.marker([lat, long])
        circle = L.circle([lat, long], {radius: accuracy})

        var featureGroup = L.featureGroup([marker, circle]).addTo(map)

        map.fitBounds(featureGroup.getBounds())

        console.log("Your coordinate is: Lat: "+ lat +" Long: "+ long+ " Accuracy: "+ accuracy)
    }

</script>
